body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #09090c;
    color: white;
    overflow: hidden;
  }
  
  #header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  #header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  #header p {
    margin: 0.5rem 0 1.5rem;
    color: #6b7280;
  }
  
  .countdown-container {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-item {
    background-color: #212121;
    padding: 14px;
    border-radius: 5px;
    text-align: center;
  }
  
  .countdown-separator {
    margin: 0 0.5rem;
  }
  
  .countdown-labels {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
  }
  
  .countdown-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #6b7280;
  }
  
  #wrapper {
    padding: 1rem;
    background-color: #100d1a;
    border-radius: 0.3rem;
    border: 1px solid #6b33ff;
  }
  
  .action-button {
    background-color: #6b33ff;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
  }
  
  .action-button:hover {
    background-color: #5a24c4;
  }
  